.$column-width: 480px;
$gutter-width: 20px;


.AnnotationPage {
  text-align: center;
   width: 900px;
   margin: 10px;
   margin: auto;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;



}


.section {
  display: inline-block;
  max-width: $column-width;
  margin: $gutter-width;
  text-align: left;
  vertical-align: top;
}



.movieArea {
    width: 480px;
    height: 320px;
    padding: 5px;
    background: black;
    margin-right: 10px;
    float: left;
}

.annotationListOuterArea {
    width: auto;
    height: 320px;
    position: relative;
    top: 0px;
    right: 0px;
    padding: 5px;
    overflow: scroll;
    border: solid;
}

.annotationTimeList {
    width: 65px;
    margin-right: 2px;
}

.annotationOpinionList {
    width: 95px;
    margin-right: 2px;
}

.movieControlArea {
    margin-top: 10px;
    width: 470px;
    height: 70px;
    float: left;
}

.movieControlLabelArea {
}

.movieControls {
    width: 80px;
}

.playOrPauseButton {
    width: 90px;
    height: 58px;
    font-weight: bold;
    float: left;
    margin-right: 15px;
}

.sliderArea {
    margin-bottom: 6px;
}

.sliderBar {
    width: 250px;
}

.sliderLabels {
}

.movieControlLabels {
    width: 80px;
    margin-right: 8px;
    color: red;
    background: none;
    border-style: none;
    float: left;
}

.timeDisplayArea {
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.timeDisplayText {
    width:70px;
}

.mainAnnotControlArea {
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid;
    float: left;
}

.annotControlArea {
    float: left;
}

.setTimeArea {
    width: auto;
    height: 80px;
    border: double;
    float: none;
}

.setStartTimeArea {
    width: 145px;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    float: left;
}

.setEndTimeArea {
    width: 145px;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    float: left;
}

.selectedTimeTextArea {
    width: 90px;
}

.selectedTimeClearButtons {
    margin-right: 10px;
}

.annotControlButtons {
    width: 130px;
}

.labelArea {
    padding: 10px;
    border: double;
}

.setNewOpinionArea {
    width: 145px;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    float: left;
}

.addNewOpininTextArea {
    width: 120px;
}

.td {
    padding-right: 10px;
}


.annotateButtonArea {
    width: 150px;
    height: 130px;
    padding: 10px;
    margin-left: 15px;
    float: left;
}

.b_annotate {
    width: 130px;
    height: 80px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bold;
}

.b_cancel {
    width: 130px;
    height: 40px;
    
    /*visibility: visible;*/
}

.hotkeyInstArea {
    width: auto;
    height: auto;
    padding: 5px;
    float: left;
    
    font-size: small;
    color: grey;
}

	



